html, body {
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
}
.content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.footer {
    flex-shrink: 0;
    width: 100%;
    text-align: center;
}
@media (max-width: 768px) {
    .navbar-brand {
        flex-grow: 1;
        text-align: center;
    }
    .mobile-nav {
        display: flex;
        flex-basis: 100%;
        justify-content: space-around;
    }
    .desktop-nav {
        display: none;
    }
}
@media (min-width: 769px) {
    .mobile-nav {
        display: none;
    }
}
.navbar-expand-lg .navbar-nav {
    -ms-flex-direction: row;
    flex-direction: row;
}
.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
}
.navbar-brand {
    margin-right: 0rem;
}
.bg-main {
    background: #FF8C00;
}
.navbar-light .navbar-brand {
    color: rgba(255,255,255,.9);
}
.navbar-light .navbar-nav .nav-link {
    color: rgba(255,255,255,.9);
}
.dropzone {
    border: 2px dashed #FF8C00;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    cursor: pointer;
    width:100%;
}
.dropzone:hover {
    background-color: #f8f9fa;
}
.card {
    min-width: 218px;
    min-heigh: 218px;
    margin: 10px;
}
.addtxt{
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    font-size: 13px;
    width: 350px;
    background-color: #e5e8ed;
    font-weight: 500;
}
.second{
    width: 350px;
    background-color: #FF8C00;
    border-radius: 10px;
    position: relative;
    left: 50px;
}
.second-resp {
    width: 350px;
    background-color: #6c757d;
    border-radius: 10px;
    position: relative;
    right: 50px;
}
.text2{
    font-size: 13px;
    font-weight: 500;
    margin-left: 6px;
    color: #ffffff;
}
.text3{
    font-size: 13px;
    font-weight: 500;
    margin-right: 4px;
    color: #ffffff;
}
.text1 {
    color: #ffffff;
}